* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

article {
   display: flex;
   justify-content: center;
   width: 400px;
   height: 300px;
   outline: solid #000000 1px;
   position: relative;
   margin: 10px;
}

article img {
   object-fit: contain;
   width: 100%;
   height: 100%;
}

.titulo {
   position: absolute;
   bottom: 0px;
   background-color: #ecececb2;
   width: 100%;
   height: 100px;
   display: grid;
   place-items: center;
   text-align: center;
   padding: 3px;
}

body {
   padding-top: 150px;
}

header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: #1c1c1c;
   position: fixed;
   width: 100%;
   top: 0px;
   z-index: 100000;
}

.logo {
   max-width: 4rem;
   position: static;
   z-index: 100;
}

.nav-list {
   list-style-type: none;
   display: flex;
   margin-top: 1em;
   margin-bottom: 1em;
}

.nav-list li {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 1.2em;
   margin-right: 1rem;
   padding: .2em .2em .2em .2em;
   position: relative;
   top: .9em;
}

.nav-list li a {
   text-decoration: none;
   color: #ffffff;
}

.nav-list li:hover {
   background-color: rgb(255, 0, 0);
}

.abrir-menu,
.cerrar-menu {
   display: none;
}

.barras {
   color: #ffffff;
}

.pagina-seleccionada {
   background-color: #ad2e2e;
}

.seccion-principal {
   display: flex;
   width: 100%;
   flex-wrap: wrap;
   justify-content: center;
}

.encabezado {
   position: absolute;
   top: 75px;
   border: solid #000000 1px;
   width: 100%;
   padding: 3px 10px;
}

.seccion-secundaria {
   background-color: #ffffff;
   height: 30px;
   position: relative;
   display: flex;
   width: 100%;
   top: -20px;
}

.seccion-secundaria div {
   font-size: 20px;
   display: flex;
   font-weight: 900;
}

.colectivo, .clima {
   padding: 0 30px 0 0;
}

.colectivo {
   padding-left: 10px;
}

.empleos {
   padding-right: 10px;
}

.colectivo i {
   color: #b61a1a;
}

.clima i {
   color: rgb(77, 240, 240);
}

.colectivo, .clima, .empleos {
   position: relative;
   top: 2.5px;
}

.linea {
   display: none;
}

.seccion-secundaria div i {
   padding-right: 5px;
}

a {
   text-decoration: none;
   font-family: "Cabina Condensada", sans-serif;
   color: #000000;
}

.margen-derecho {
   margin-right: 50px;
}

@media screen and (max-width: 440px) {
   article {
      width: 390px;
      height: 250px;
   }
   .titulo {
      height: 70px;
      font-size: 22px;
      height: 90px;
   }
}

@media screen and (max-width: 413px) {
   article {
      width: 350px;
      height: 250px;
   }

   .titulo {
      font-size: 22px;
   }
}

@media screen and (max-width: 375px) {
   article {
         width: 320px;
         height: 250px;
      }
   
      .titulo {
         font-size: 20px;
      }
}

@media screen and (max-width: 340px) {
   article {
      width: 300px;
      height: 250px;
   }

   .titulo {
      font-size: 20px;
   }
}



@media screen and (max-width: 327px) {
   article {
         width: 270px;
         height: 200px;
      }
   
      .titulo {
         height: 80px;
         font-size: 15px;
      }
}

@media screen and (max-width: 300px) {
   article {
      width: 240px;
      height: 200px;
   }

   .titulo {
      height: 80px;
      font-size: 15px;
   }
}

@media screen and (max-width: 260px) {
   article {
      width: 200px;
      height: 200px;
   }

   .titulo {
      height: 80px;
      font-size: 15px;
   }
}

@media screen and (max-width: 700px) {

   .abrir-menu,
   .cerrar-menu {
      display: block;
      border: 0;
      font-size: 1.25rem;
      background-color: transparent;
      cursor: pointer;
   }


   .cerrar-menu {
      position: relative;
      font-size: 2em;
      top: -.80em;
      padding: 10px 20px 10px 15px;
      right: -25px;
   }

   .abrir-menu {
      margin-right: .3em;
      font-size: 2em;
      padding: 10px 16px 10px 10px;
   }

   .nav-list li {
      margin-top: 1em;
      top: -10px;
   }

   .abrir-menu {
      color: #1c1c1c;
   }

   .cerrar-menu {
      color: #ececec;
   }

   .nav {
      opacity: 0;
      visibility: hidden;
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 1rem;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: #1c1c1c;
      padding: 2rem;
   }

   .nav.visible {
      opacity: 1;
      visibility: visible;
   }

   .nav-list {
      flex-direction: column;
      align-items: end;
      background-color: #1c1c1c;
      padding-bottom: 100vh;
      padding-left: 1em;
      position: relative;
      right: -2em;
      top: -3.5em;
   }

   .nav-list li a {
      color: #ecececec;
   }

   .margen-derecho {
      margin-right: 0;
   }
}

@media screen and (max-width: 560px) {
   .seccion-secundaria {
      justify-content: space-between;
   }
}

@media screen and (max-width: 493px) {
   .seccion-secundaria {
      flex-direction: column;
      top: -70px;
   }
   .seccion-secundaria div {
      padding-bottom: 7px;
      padding-left: 5px;
   }
   .encabezado {
      top: 70px;
   }
   body {
      padding-top: 190px;
   }
   .linea {
      display: block;
   }
      .seccion-secundaria div {
         font-size: 15px;
      }
   .colectivo i {
         margin-right: 2px;
         position: relative;
         left: -1px;
      }
   
   .clima i {
         position: relative;
         left: -1.5px;
      }
   .empleos i {
         margin-right: 4px;
         position: relative;
      }
}

@media screen and (max-width: 340px) {
   .nav-list li {
      font-size: 1.1em;
   }
}

@media screen and (max-width: 300px) {
   .nav-list li {
      font-size: .7em;
      }
}
