* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   padding-top: 130px;
}

header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: #1c1c1c;
   position: fixed;
   width: 100%;
   top: 0px;
   z-index: 100000;
}

.logo {
   max-width: 4rem;
   position: static;
   z-index: 100;
}

.nav-list {
   list-style-type: none;
   display: flex;
   margin-top: 1em;
   margin-bottom: 1em;
}

.nav-list li {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 1.4em;
   margin-right: 2.5rem;
   padding: .2em .2em .2em .2em;
   position: relative;
   top: .67em;
}

.nav-list li a {
   text-decoration: none;
   color: #ffffff;
}

.nav-list li:hover {
   background-color: rgb(255, 0, 0);
}

.abrir-menu,
.cerrar-menu {
   display: none;
}

.barras {
   color: #ffffff;
}

.ultimas-noticias {
   background-color: #ad2e2e;
}

.seccion-principal {
   display: flex;
   width: 100%;
   flex-wrap: wrap;
}

.seccion-principal__articulos {
   flex-grow: 1;
   width: 30%;
   min-width: 250px;
   margin:25px 15px;
   display: flex;
   position: relative;
}

.seccion-principal__articulos img {
   object-fit: cover;
   height: 100%;
   width: 100%;
}

h2 {
   position: absolute;
   font-size: 1.2em;
   align-self: flex-end;
   background-color: rgba(255, 255, 255, 0.685);
   width: 100%;
   padding: 5px;
   border: 1px solid rgb(0, 0, 0);
}

a {
   text-decoration: none;
   font-family: "Cabina Condensada", sans-serif;
   color: #000000;
}

p {
   font-size: 20PX;
   position: absolute;
   background-color: #ad2e2e;
   padding: 5px;
}

.control {
   display: inherit;
}

.encabezado {
   position: relative;
   top: -33px;
}

article i {
   position: absolute;
   top: -20px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-weight: 100;
   border: 1px solid #000000;
   padding: 0px 4px;
   font-size: 13px;
}

@media screen and (max-width: 1044px) {

   .abrir-menu,
   .cerrar-menu {
      display: block;
      border: 0;
      font-size: 1.25rem;
      background-color: transparent;
      cursor: pointer;
   }

   .cerrar-menu {
      position: relative;
      font-size: 2em;
      top: -.45em;
   }

   .abrir-menu {
      margin-right: .5em;
      font-size: 2em;
   }

   .nav-list li {
      margin-top: 2em;
   }

   .abrir-menu {
      color: #1c1c1c;
   }

   .cerrar-menu {
      color: #ececec;
   }

   .nav {
      opacity: 0;
      visibility: hidden;
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 1rem;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: #1c1c1c;
      padding: 2rem;
   }

   .nav.visible {
      opacity: 1;
      visibility: visible;
   }

   .nav-list {
      flex-direction: column;
      align-items: end;
      background-color: #1c1c1c;
      padding-bottom: 100vh;
      padding-left: 1em;
      position: relative;
      right: -2em;
      top: -3.5em;
   }

   .nav-list li a {
      color: #ecececec;
   }

   .seccion-principal__articulos {
      max-height: 300px;
   }
}

@media screen and (max-width: 340px) {
   article h2 {
      font-size: 1em;
   }
}

@media screen and (max-width: 300px) {
   .seccion-principal__articulos {
         min-width: 200px;
      }
}

@media screen and (max-width: 235px) {
   .seccion-principal__articulos {
      min-width: 150px;
   }
}
