* {
   font-family: 'Sen', sans-serif, Arial;
   font-weight: 400;
   font-size: 30px;
}

.logotipo-container {
   height: 70px;
   width: 100%;
   background-color: #04070e;
   position: fixed;
   z-index: 1000;
}

.logotipo {
   height: 70px;
   padding-left: 10px
}

.banner-container {
   position: relative;
   top: 30px;
   height: 100%;
   width: 100%;
}

.banner {
   height: 100%;
}

@media (max-width: 500px) {
   .banner-container {
      height: 500px;
   }
}
