* {
   font-family: 'Sen', sans-serif, Arial;
   font-weight: 400;
   font-size: 30px;
}

.logotipo-container {
   height: 70px;
   width: 100%;
   background-color: #04070e;
   position: fixed;
   z-index: 50;
}

.logotipo {
   height: 70px;
   padding-left: 10px
}

.menu {
   position: fixed;
   z-index: 100;
   width: 100%;
}

.menu a {
   text-decoration: none;
   color: #fff;
   position: absolute;
   right: 10px;
   margin-top: 17px;
   min-width: 100px;
   padding: 5px;
   border-radius: 20px;
   font-size: 25px;
}

.menu a:hover {
   background-color: #62627c;
}


.banner-container {
   position: relative;
   top: 30px;
   height: 100%;
   width: 100%;
}

.banner {
   height: 100%;
}

@media (max-width: 500px) {
   .logotipo-container {
      height: 50px;
   }
   .logotipo {
      height: 50px;
   }
   .banner-container {
      height: 500px;
   }
   .menu a {
      font-size: 20px;
      right: 0;
      margin-top: 8px;
   }
}

@media (max-width: 316px) {
   .menu a {
      font-size: 18px;
      margin-top: 10px;
   }
}

@media (max-width: 300px) {
   .logotipo-container {
      height: 100px;
   }
   .menu a {
      margin-top: 60px;
      left: 80px;
      font-size: 18px;
   }
   .banner-container {
      top: 50px;
   }
}

@media (max-width: 220px) {
   .menu a {
      left: 45px;
   }
}
